.example {
  background: @light-gray;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @black;
}

.example__result {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
}

.example__content-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
  }

  .example__content-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .example__result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .example__result {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {

  .example {
    display: flex;
    flex-direction: row;
  }

  .example__result-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
