.form-content {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
  }
}

.form-content__group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.form-content__group-container {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form-content__group-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 65px;
  }
}

.form-content__group-wrapper:last-of-type {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 5%;
  }
}

.form-content__group-input--radio,
.form-content__group-input--checkbox {
  width: auto;
  margin: 0;
  margin-right: 15px;
}

.form-content__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 7px;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.form-content__group-title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @black;
  background-color: @white;
  margin: 0;
  padding: 0;
  padding-right: 39px;
}

.form-content__group-title::before {
  content: "";
  position: absolute;
  top: 50%;
  // width: 100vw;
  height: 2px;
  margin-top: 2px;
  background: @green;
  z-index: -1;
}

.form-content__group-title::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: 50%;
    left: -69px;
    width: 30px;
    height: 2px;
    margin-top: 2px;
    background: @green;
    z-index: -1;
  }
}

.form-content__group-label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @light-black;
  min-width: max-content;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-content__group-input {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @light-black;
  margin-left: 13px;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid @gray-secondary;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-content__commentary {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @light-black;
  padding: 0;
  margin-top: 38px;
  margin-bottom: 23px;
  border: 1px solid @gray-secondary;
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-top: 76px;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    max-height: 200px;
  }
}

.form-content__group-text-extra {
  color: @black;
}

.form-content__group--cat-info {
  position: relative;
  border: none;
  margin-top: 39px;

  @media (min-width: @tablet-width) {
    margin-top: 66px;
  }

  @media (min-width: @desktop-width) {
    width: 600px;
  }
}

.form-content__group--purpose {
  position: relative;

  @media (min-width: @tablet-width) {
    border: 1px solid @gray-secondary;
    padding: 25px 28px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    border: 1px solid @gray-secondary;
    height: 200px;
  }
}

.form-content__list--additional {
  margin-top: 34px;

  @media (min-width: @tablet-width) {
    margin-top: 57px;
    display: grid;
    grid-template-columns: auto auto;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-content__group--contacts {
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    margin-top: 75px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 65px;
    grid-column: 1 / 3;
  }
}

.form-content__group--commentary {
  @media (min-width: @desktop-width) {
    grid-column: 1 / 3;
  }
}

.form-content__group--additional {
  @media (min-width: @desktop-width) {
    grid-column: 1 / 3;
  }
}

.form-content__group--contacts .form-content__group-container {
  margin-top: 34px;

  @media (min-width: @tablet-width) {
    margin-top: 76px;
  }
}

.form-content__submit {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    align-items: center;
  }
}

.form-content__group-icon {
  position: absolute;
  top: 15px;
  right: 17px;

  @media (min-width: @tablet-width) {
    top: 15px;
    right: 20px;
  }
}
