.instruction {
  padding: 0 20px 20px 20px;
}

.instruction__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @black;
  margin: 0;
  margin-bottom: 40px;
}

.instruction__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.instruction__item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.instruction__item::before {
  content: "";
  display: block;
  flex-shrink: 0;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  background-color: @green;
}

.instruction__item--leaf::before {
  background-image: url("/img/index/instruction/leaf-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.instruction__item--powder::before {
  background-image: url("/img/index/instruction/powder-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.instruction__item--dinner::before {
  background-image: url("/img/index/instruction/dinner-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.instruction__item--alarm::before {
  background-image: url("/img/index/instruction/alarm-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.instruction__text {
  width: auto;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .instruction__title {
    font-size: 60px;
    line-height: 60px;
  }

  .instruction__list {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 280px 280px;
  }

  .instruction__text {
    max-width: 245px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .instruction__list {
    display: flex;
    flex-direction: row;
  }

  .example__result:last-of-type {
    margin-left: 63px;
  }
}
