.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.main-nav__link {
  text-decoration: none;
  color: @black;
  text-transform: uppercase;
}

@media (min-width: @tablet-width), (min-width: @desktop-width) {
  .main-nav__toogle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .main-nav__item {
    margin-right: 36px;
  }
}
