.main-slide {
  background-image: url("/img/index/background-slide-cat.jpg");
  background-repeat: no-repeat;
  background-color: rgba(104, 183, 56, 0.85);
}

.main-slide__wrapper {
  width: 280px;
}

.main-slide__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin: 0;
}

.main-slide__subtitle {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
