.main-container {
  padding: 0 30px;
}

.main-container__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
