.main-slide {
  position: relative;
  background-color: @light-green;
}

.main-slide__wrapper {
  padding: 27px 20px 0 20px;
}

.main-slide__wrapper img {
  display: block;
  margin: 0 auto;
}

.main-slide::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  background-image: url("/img/index/background-slide-cat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.main-slide__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @white;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
}

.main-slide__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: @white;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}

.main-slide__img--tablet {
  display: none;
}

.main-slide__img--desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-slide {
    background: none;
  }

  .main-slide__wrapper {
    display: flex;
    flex-direction: column;
    width: 709px;
  }

  .main-slide__title {
    font-size: 60px;
    line-height: 60px;
    color: @black;
    margin-left: 88px;
  }

  .main-slide__subtitle {
    font-size: 20px;
    line-height: 20px;
    color: @black;
    margin-left: 88px;
  }

  .main-slide__button {
    margin-left: 88px;
  }

  .main-slide__img--mobile {
    display: none;
  }

  .main-slide__img--tablet {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .main-slide {
    display: flex;
    flex-direction: row;
    background-image: url("/img/index/background-slide-cat-desktop.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-color: @light-green;
  }

  .main-slide__img--tablet {
    display: none;
  }

  .main-slide__img--desktop {
    display: block;
  }
}
