.present {
  background-image: url("/img/catalog/present-background-cat.png");
  background-repeat: no-repeat;
  background-color: rgba(104, 183, 56, 0.85);
  width: 280px;
  height: 289px;
}

.present__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
