.production {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 20px 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.production--cat-sitting::after,
.production--puma::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    width: 200px;
    height: 211px;
    right: 62px;
    top: 81px;
  }
}

.production--cat-sitting::after {
  @media (min-width: @tablet-width) {
    background-image: url("/img/index/products/cat-sitting-tablet.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.production--puma::after {
  @media (min-width: @tablet-width) {
    background-image: url("/img/index/products/puma-tablet.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 268px;
    height: 200px;
    top: 91px;
    right: 27px;
  }
}

.production__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @black;
  margin: 0;
  margin-bottom: 22px;
  padding-left: 70px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 77px;
    margin-left: 54px;
    margin-bottom: 0;
    padding: 0;
  }
}

.production__title--cat-sitting::before,
.production__title--puma::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 50px;
  height: 50px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.production__title--cat-sitting::before {
  background-image: url("/img/index/products/cat-sitting.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.production__title--puma::before {
  background-image: url("/img/index/products/puma.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 67px;
  left: -10px;
}

.production__button {
  width: auto;
  height: 24px;
  border: none;
  background: transparent;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
  padding: 0;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin-left: 54px;
    margin-bottom: 53px;
    font-size: 20px;
    line-height: 30px;
  }
}

.production__button--icon {
  margin-left: 15px;
}

.production__description {
  width: auto;
  position: relative;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: @black;
    margin-left: 54px;
    margin-top: 24px;
    margin-bottom: 48px;
    padding: 0;
    width: 340px;
  }
}

.production__description::after {
  content: "";
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid @gray;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .production__description {
    width: 457px;
  }
}
